/* line 4, ../../app/styles/main.scss */
body {
  background-color: #efeae1;
}

/* line 7, ../../app/styles/main.scss */
#logo {
  padding-left: 50px;
}

/* line 10, ../../app/styles/main.scss */
#left-main-section {
  height: 100vh;
}

/* line 13, ../../app/styles/main.scss */
#right-main-section {
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* line 20, ../../app/styles/main.scss */
.left-section-text {
  position: relative;
  left: -1000px;
}

/* line 25, ../../app/styles/main.scss */
.red-line {
  height: 8%;
  margin-bottom: 16%;
  background-color: #f44336;
  position: relative;
  left: 1000px;
}

/* line 32, ../../app/styles/main.scss */
.container {
  width: 100%;
}

/* line 36, ../../app/styles/main.scss */
#candidate-cards {
  width: 80%;
  margin: 0 auto;
}

/* line 41, ../../app/styles/main.scss */
.img-sm {
  max-width: 400px;
}

/* line 45, ../../app/styles/main.scss */
.card.small .card-image {
  height: 180px;
}

/* line 49, ../../app/styles/main.scss */
.card {
  padding: 5px;
}

/* line 53, ../../app/styles/main.scss */
.card .card-content {
  padding: 5px;
}

/* line 57, ../../app/styles/main.scss */
#cards-row {
  margin-top: 20px;
}

/* line 61, ../../app/styles/main.scss */
.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

/* line 66, ../../app/styles/main.scss */
.ng-enter-stagger {
  transition-delay: 0.1s;
}

/* line 70, ../../app/styles/main.scss */
.ng-enter-active {
  opacity: 1;
}

/* line 74, ../../app/styles/main.scss */
.Republican {
  background-color: rgba(244, 67, 54, 0.2);
}

/* line 78, ../../app/styles/main.scss */
.Democrat {
  background-color: rgba(41, 121, 255, 0.2);
}

/* line 82, ../../app/styles/main.scss */
.parallax-container {
  height: 500px;
}

/* line 86, ../../app/styles/main.scss */
.right-img {
  height: 100%;
  max-width: 41.66667%;
  position: fixed;
  bottom: 0;
  right: 0;
}