<div class='row'>
	<div class='col m7 s12' id='left-main-section'>
		<p class='z-depth-3' id='left-section-text'></p>	
	</div>
	<div class='col m5 hide-on-small-only' id='right-main-section'>
		<p class='red-line z-depth-2' id='red-1'></p>
		<p class='red-line z-depth-2' id='red-2'></p>
		<p class='red-line z-depth-2' id='red-3'></p>
		<p class='red-line z-depth-2' id='red-4'></p>
		<p class='red-line z-depth-2' id='red-5'></p>
		<p class='red-line z-depth-2' id='red-6'></p>
		<p class='red-line z-depth-2' id='red-7'></p>
	</div>
</div>